/* Problem 1 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start:3;
  }


  /* Problem 2 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:5;
  }

  /* Problem 3 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:4;
  }

  /* Problem 4 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 5;
  grid-column-end:2;
  }

  /* Problem 5 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:5;
  }

  /* Problem 6 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-column-start:4;
  }

  /* Problem 7 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 2;
  grid-column-end:4;
  }

  /* Problem 8 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column-start: 1;
  grid-column-end:6;
  }

  /* Problem 9 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column-start:3;
    grid-column-end: 6;
  }

  /* Problem 10 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column:4/6;
  }

  /* Problem 11 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column:2/5;
  }

  /* Problem 12 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row-start:3;
  }

  /* Problem 13 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-row:3/6;
  }

  /* Problem 14 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #poison {
  grid-row:5;
  grid-column:2;
  }

  /* Problem 15 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-column:2/6;
  grid-row:1/6;
  }

  /* Problem 16 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
  grid-area:1/2/4/6;
  }

  /* Problem 17 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water-1 {
    grid-area: 1 / 4 / 6 / 5;
  }
  
  #water-2 {
   grid-area:2/3/5/6;
  }

  /* Problem 18 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  #poison {
  order:1;
  }

  /* Problem 19 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  .water {
    order: 0;
  }
  
  .poison {
  order:-1;
  }

  /* Problem 20 */
  #garden {
    display: grid;
  grid-template-columns:50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }


  /* Problem 21 */
  #garden {
    display: grid;
  grid-template-columns:repeat(8,12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

  /* Problem 22 */
  #garden {
    display: grid;
  grid-template-columns:100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Problems 23 */
  #garden {
    display: grid;
  grid-template-columns:1fr 5fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  /* Problems 24 */
  #garden {
    display: grid;
  grid-template-columns:50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  
  #water {
    grid-area: 1 / 1 / 6 / 2;
  }
  
  #poison {
    grid-area: 1 / 5 / 6 / 6;
  }

  /* Problem 25 */
  #garden {
    display: grid;
  grid-template-columns:75px 3fr 2fr;
    grid-template-rows: 100%;
  }

  /* Problems 26 */
  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows:repeat(4,12.5px);
  }
  
  #water {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }

  /* Problem 27 */
  #garden {
    display: grid;
    grid-template: 60% 60% / 200px /* Answer */
  }
  
  #water {
    grid-column: 1;
    grid-row: 1;
  }

  /* Problem 28 */
  #garden {
    display: grid;
    grid-template: 1fr 50px / 20% 80% /* Answer */
  }

  